[submodule "templates/golang"]
	path = templates/golang
	url = https://github.com/lvlcn-t/templates-golang
	branch = main
[submodule "templates/general"]
	path = templates/general
	url = https://github.com/lvlcn-t/templates-general
	branch = main
